#fun .lightBg {
  background-color: #F5F5ED; }

#fun .mediumBg {
  background-color: #FF5640;
  /*  red  */ }

#fun .darkBg {
  background-color: #453B39; }

#fun .lightBg h1 {
  color: #453B39;
  /*  red grey  */ }

#fun .mediumBg h1, #fun .mediumBg .comparison {
  color: #FFF1EB;
  /*  red white  */ }

#fun .darkBg h1, #fun .darkBg .comparison {
  color: #FEE8E0;
  /*  darker red white  */ }

#fun .comparison {
  background: url(../../images/house_fun.png) right top no-repeat; }

#fun .lightBg .comparison {
  background-position: right top; }

#fun .mediumBg .comparison {
  background-position: right -27px; }

#fun .darkBg .comparison {
  background-position: right -54px; }

/************  Walkable Nearby */
section#places {
  padding-left: 0;
  padding-right: 0; }

section#places .comparison {
  margin-right: 15px; }

section#places .place {
  border-bottom: 1px dotted #D1D0C6;
  padding-top: 15px; }

section#places .proximity {
  background: url(../../images/arrow.png) center top no-repeat;
  padding-top: 30px;
  float: left;
  width: 65px;
  color: #453B39;
  /*  red grey  */
  text-align: center; }

section#places .distance {
  font-size: 25px;
  display: block; }

section#places .placeName {
  float: left;
  width: 255px; }

section#places h2 {
  font-size: 27px;
  font-family: "franklin-gothic-urw", "helvetica neue", helvetica, arial, sans-serif;
  color: #FF5640;
  margin: 0;
  line-height: 1.1; }

section#places p.details {
  margin-top: 0; }

/************  Restaurants by Price */
section#restaurants h1 span {
  font-size: 15px;
  display: block;
  font-weight: 300;
  text-transform: lowercase;
  color: #453B39;
  /*  red grey  */ }

/************  Most Foursquare Checkins */
section#foursquare h2 {
  font-size: 75px;
  color: #FEE8E0;
  /*  darker red white  */
  font-weight: 300;
  text-align: center;
  margin: 0;
  line-height: .9; }

section#foursquare h2 span {
  font-size: 25px; }

section#foursquare .location {
  color: #FF5640;
  /*  red  */
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-family: "franklin-gothic-urw", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 300;
  display: block; }

section#foursquare .comparison .measure {
  color: #FF5640;
  /*  red  */ }

/************  Movie Theaters within 5 miles */
section#theaters {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0; }

section#theaters .comparison {
  margin-right: 15px; }

section#theaters .bgImage {
  background: url(../../images/bg_theaters.png) center 40px no-repeat;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px; }

section#theaters h1 span {
  font-size: 15px;
  display: block;
  font-weight: 300;
  text-transform: lowercase;
  color: #453B39;
  /*  red grey  */ }

section#theaters h2#numberOfTheaters {
  font-size: 75px;
  color: #FFF1EB;
  /*  red white  */
  font-weight: 300;
  text-align: right;
  margin: -20px 0 0;
  line-height: 1; }

section#theaters h2 span {
  font-size: 25px; }

section#theaters .location {
  color: #FF5640;
  /*  red  */
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-family: "franklin-gothic-urw", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 300;
  display: block; }

section#theaters li {
  background: url(../../images/theaterMarker.png) left center no-repeat;
  padding-left: 40px;
  color: #453B39;
  /*  red grey  */
  margin-left: 21px;
  font-size: 15px; }

section#theaters li .measure {
  font-size: 25px;
  font-family: "franklin-gothic-ext-comp-urw", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 300;
  color: #FFF1EB;
  /*  red white  */
  padding-right: 8px; }

/************  Local Flavor */
section#flavor {
  padding-left: 0;
  padding-right: 0; }

section#flavor .comparison {
  margin-right: 15px; }

section#flavor h1 span {
  font-size: 15px;
  display: block;
  font-weight: 300;
  text-transform: lowercase; }

section#flavor h2 {
  font-size: 27px;
  font-family: "franklin-gothic-urw", "helvetica neue", helvetica, arial, sans-serif;
  color: #FF5640;
  /*  red  */
  line-height: 1.1;
  margin: 5px 5px 20px 15px;
  float: left;
  width: 186px; }

section#flavor .imgContainer {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative; }

section#flavor .imgContainer img {
  background-color: #453B39;
  width: 100%; }

section#flavor .imgContainer span {
  position: absolute;
  font-size: 190px;
  top: 0;
  right: 0;
  color: #F5F5ED;
  line-height: 1; }

section#flavor .one .imgContainer span {
  font-size: 191px;
  top: -59px; }

section#flavor .two .imgContainer span {
  font-size: 191px;
  top: -61px; }

section#flavor .three .imgContainer span {
  font-size: 142px;
  top: -44px; }

section#flavor .four .imgContainer span {
  font-size: 142px;
  top: -44px; }

section#flavor .five .imgContainer span {
  font-size: 144px;
  top: -47px; }

section#flavor .opinion {
  float: left;
  padding-top: 9px;
  margin-bottom: 20px; }

section#flavor .rating {
  text-indent: -9999em;
  display: block;
  width: 100px;
  height: 20px; }

section#flavor .reviews {
  display: block;
  width: 100px;
  text-align: right; }

section#flavor .starsOne {
  background: url(../../images/stars_one.png) left center no-repeat; }

section#flavor .starsOne_half {
  background: url(../../images/stars_one_half.png) left center no-repeat; }

section#flavor .starsTwo {
  background: url(../../images/stars_two.png) left center no-repeat; }

section#flavor .starsTwo_half {
  background: url(../../images/stars_two_half.png) left center no-repeat; }

section#flavor .starsThree {
  background: url(../../images/stars_three.png) left center no-repeat; }

section#flavor .starsThree_half {
  background: url(../../images/stars_three_half.png) left center no-repeat; }

section#flavor .starsFour {
  background: url(../../images/stars_four.png) left center no-repeat; }

section#flavor .starsFour_half {
  background: url(../../images/stars_four_half.png) left center no-repeat; }

section#flavor .starsFive {
  background: url(../../images/stars_five.png) left center no-repeat; }
