/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ul, ol { list-style: none; }
blockquote, q {
	background:url('../images/quotes.png') 12px top no-repeat ;
	quotes: '»' '«' ;
	margin-left:30px;
    padding-left:35px;
    border-left: 1px solid #E5E4DB;
	color: #726B68;
	margin-bottom: 1em;
	}

.pull_left, .pull_right {
	background:url('../images/quotes_lg.png') 12px 12px no-repeat ;
	margin: 25px 65px 25px 30px;
	padding: 15px 0 15px 35px;
	color: #494442;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: oblique;
	font-size: 220%;
	display: block;
	line-height: 38px;
	text-align: center;
	border-top: 1px solid #E5E4DB;
	border-bottom: 1px solid #E5E4DB;
	}

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none;}
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

body { color: #413a3a; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 19px; font-size: 13px; }
button.disabled { opacity: 0.3; filter: alpha(opacity=30); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
p { margin-bottom: 1.3em; line-height: 22px; }

html { overflow-y: scroll; }

iframe { display: block; margin: 10px 0; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #c9a706; }
a:hover { color: #827b78; }

nav ul, nav li { margin: 0; }
small { font-size: 65%; line-height: 130%; margin-top: 5px;}
strong, th, b { font-weight: bold; }
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: smaller; line-height:1px;}
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit] { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

.normalForm label { width: 120px; display: block; float: left; text-transform: uppercase; font-weight: bold;}
.normalForm input, .normalForm textarea { width: 300px;}
.normalForm { margin-top: 30px;}

::-moz-selection{ background: #CA5703; color:#fff; text-shadow: none; }
::selection { background:#CA5703; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #CA5703; }

button, .buttonLink { width: auto; text-indent: -9999em; display: block; border: none; cursor: pointer; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; clear: right;  }
.clear { clear: both;}


/* structure */

#container, .container, #footerWrapper footer { width: 940px; margin: 0 auto; padding: 0 10px;  }
#container { background: url(images/bg_main.jpg) center top no-repeat; min-height: 556px; }
.container {
	margin-top: -85px;
}
body { background: url(images/bg_repeat.jpg) center top repeat-x;}

button, .textReplace, #shareBtns li a { text-indent: -9999em; display: block; border-bottom: none; }

.textReplace { text-indent: -9999em; display: block; border: none; }

h1 { width: 268px; height: 70px; padding-top: 45px; }
h1 a { width: 268px; height: 70px; background: url(images/logo.png) top left no-repeat; }

#feature { margin-top: 85px; }
#feature iframe.preview {
    background-color: #f5f5ed;
    border: 10px solid #151110;
    float: left;
    margin: -40px 5.2em 3em 3em;
    height: 480px;
    width: 320px;
    box-shadow: 0 0 5px #333;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}
#feature img.phones { float: left; margin-right: 85px; margin-left: 60px; }
#feature { color: #fdfbfb; }
#feature h2 { text-transform: uppercase; font-size: 273%; line-height: 40px; padding-top: 70px; font-weight: 700; }
#feature p { font-size: 200%; font-family: "franklin-gothic-urw" "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; line-height: 1em; }

#foundationSm { background: url(images/img_foundationSm.png) top left no-repeat; float: right; width: 111px; height: 33px; margin-top: 10px; }
#foundationLogo { background: url(images/img_foundationLg.png) top left no-repeat; width: 199px; height: 59px; margin-bottom: 30px; }

#downloadLinks li { float: left; margin-right: 20px; }
#appBtn { background: url(images/btn_appStore.png) left -2px no-repeat; width: 165px; height: 62px; background-size: 165px 62px; }
#appBtn2 { background: url(images/btn_androidApp.png) top left no-repeat; width: 151px; height: 60px; background-size: 151px;}
#appBtn:hover, 
#appBtn2:hover { 
	opacity: .8;
}
#btnSignup { background: url(images/btn_signup.png) top left no-repeat; width: 107px; height: 41px; margin-top: 13px; }
#btnSignup:hover { background: url(images/btn_signup.png) bottom left no-repeat; }

h2, h3, h4, h5, h6 { font-weight: normal; font-family: "franklin-gothic-urw" "Helvetica Neue", Helvetica, Arial, sans-serif; }
h2 { font-size: 250%; margin-bottom: 30px; line-height: 30px; }
h3 { font-size: 190%; margin-bottom: 25px;}
h4 { font-size: 170%; margin-bottom: 20px;}
h5, .h5 { font-size: 150%; margin-bottom: 15px;}

.tip { font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique; color: #97928f; display: block; line-height: 21px; max-width: 680px;}
.withTip { margin-bottom: 5px; }

.span6 { width: 445px; float: left; margin-top: 57px; }
.ltCol { margin-right: 50px; }

form li { float: left; margin-right: 15px; }
label { display: block; margin-bottom: 2px;  }
input { background: #f8f8f6; border: 1px solid #dbdbcb; padding: 7px 10px 5px; -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
    -ms-border-radius: 4px;
     -o-border-radius: 4px;
        border-radius: 4px;}

#appPics img { margin-top: 10px; }
#appPics { margin-top: 30px; }

#footerWrapper { background: url(images/bg_footer.jpg) center top repeat-x; height: 324px; margin-top: -45px; color: #7b7575; }
#footerWrapper footer { padding-top: 53px; }
#footerCol1 { float: left; width: 285px; padding-right: 25px; margin-right: 25px; background: url(images/bg_footerLine.jpg) right top repeat-y; }
#footerCol2 { float: left; background: url(images/bg_badge.jpg) right 44px no-repeat; width: 605px; padding-top: 92px; }
footer form ul { vertical-align: text-bottom; }
footer .featuredOn{
	text-align: center;
	margin-top: 31px;
	padding-bottom: 40px;
}
.featuredOn h3{
	margin-bottom: 0px;
	color: #ffffff;
	background: url(images/bg_featured.png) center top no-repeat;
	height: 44px;
	padding-top: 11px;
}
.featuredOn ul{
	margin-top: 40px;
	margin-bottom: 20px;
}
.featuredOn li{
	display: inline;
	padding: 15px 10px 0 10px;
}
ul.minilist { display: inline-block; list-style-type: disc; margin: 0 14px 0 14px; padding: 0;  }
.normalMargins { margin: 0 0 1em 0; }
.share-buttons .socialite:hover{
	opacity: .8;
}

